.group-availability-title {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #666;
    font-weight: normal;
}

.availability-time {
    font-size: 0.9rem;
    color: #666;
}

.time-slot {
    font-size: 0.9rem;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}